

.nav-ul li{
  display: inline-block;
  padding: 10px;

}
.nav-ul li a{
  color: #fff;
  padding: 5px;
  text-decoration: none;
}
.nav-ul{
  padding: 5px;
  margin: 0;
  background-color: skyblue;
}


/* Profile.css */

.profile {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.profile p {
  font-size: 18px;
  margin-bottom: 10px;
  color: #444;
}

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: skyblue;
}
.register, .product{
  margin-left: 30%;
}
.login{
  margin-left: 30%;
  margin-top: 100px;
}
.inputBox{
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 1px solid skyblue;
  border-radius: 5px;
}
.appButton{
  margin: 25px;
  padding: 10px;
  width: 150px;
  background-color: skyblue;
  border: 1px solid;
  cursor: pointer;
  font-size: large;
}
.nav-right{
  text-align: right;
}
.logo{
  width: 45px;
  float: left;
  border-radius: 30%;
  margin-top: 3px;
  margin-left: 20px;
}
.inputBox1{
  display: block;
  margin: 25px;
  text-align: left;
  padding: 7px;
  width: 300px;
  height: 30px;
  border: 1px solid skyblue;
  border-radius: 5px;
  font-size: large;
  
}
.invalid-input{
  color: red;
  margin-top: -25px;
  display: block;
  margin-left: 20px;
  font-size: large;
}
.product-list{
  text-align: center;
  margin-top: 50px;
}
.product-list ul li{
  display: inline-block;
  border: 1px solid skyblue;
  padding: 5px;
  width: 150px;
}
.product-list ul{
  margin: 0;
}

.search{
  width: 350px;
  margin: 20px;
  height: 40px;
  border: 1px solid skyblue;
  padding-left: 50px;
}
/* below not blong to my project */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
